@charset "utf-8";
@import url(reset.css);

/* header(헤더) */
#header {
    position: relative;
    background: #111;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#header .inner {
    max-width: 1100px;
    margin: 0 auto;
    /* m0-auto */
}

/* logo(로고) */
#logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* top menu */
#header .top_link {
    display: flex;
    justify-content: space-between;
}

#header .top_link a {
    font-size: 0.8125rem;
    color: #888;
    margin: 0 10px;
}

/* link icon */
#header .link_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .link_icon a {
    margin: 0 10px;
}

/* GNB(글로벌 내비게이션 바) */
#gnb {
    position: absolute;
    width: 100%;
    max-width: 900px;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    /* margin: 0 auto; */
}

/* 1depth */
#gnb .main {
    display: flex;
    justify-content: space-evenly;
    /* align-content: flex-end; */
}

#gnb .main a {
    position: relative;
    font-size: 1.125rem;
}

#gnb .main > li:nth-of-type(1) {
    margin-left: 30px;
}

#gnb .main > li:nth-of-type(4) {
    margin-left: 300px;
}
#gnb .main > li:hover .sub {
    display: flex;
}
/* 메인 메뉴 호버시 하단의 바 */
#gnb .main > li:not(:nth-of-type(5)) > a:hover::after {
    position: absolute;
    bottom: -14px;
    transform: translateX(-100%);
    content: "";
    width: 100%;
    height: 3px;
    background: #fff;
}

/* 2depth */
#gnb .sub {
    position: absolute;
    padding-top: 30px;
    transform: translateX(-25%);
    display: none;
    /* 마지막 메뉴(혜택 메뉴)의 영역이 부족하여 줄 바꿈되는 현상 제거 */
    text-wrap: nowrap;
}
#gnb .sub li {
    margin: 0 8px;
}
#gnb .sub a {
    font-size: 0.9375rem;
}
#gnb .sub a:hover {
    text-decoration: underline;
}