.box_office {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.box_office_card {
    width: 245px;
    position: relative;
}

.box_office_card .rank {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

.box_office_card .poster {
    height: 352px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 8px;
}

.box_office_card .screen_type {
    position: absolute;
    width: 60px;
    left: 10px;
    bottom: 10px;
}

.box_office_card .screen_type img {
    display: block;
    margin-bottom: 2px;
}

.box_office_card .movie_grade {
    position: absolute;
    width: 28px;
    right: 10px;
    bottom: 10px;
}

.box_office_card .btn {
    display: flex;
    gap: 8px;
}

.box_office_card .like {
    width: 100px;
    height: 34px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_office_card .like i {
    margin-right: 8px;
}

.box_office_card .like.active i {
    color: red;
}

.box_office_card .reservation_link {
    background: #037b94;
    width: 100%;
    height: 36px;
    line-height: 36px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.box_office_card .inner {
    position: relative;
    height: 352px;
    perspective: 1000px;
    margin-bottom: 8px;
}

.box_office_card .front,
.box_office_card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    overflow: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.box_office_card .front {
    transform: rotateY(0deg);
}

.box_office_card .back {
    color: #fff;
    padding: 24px;
    transform: rotateY(180deg);
}

.box_office_card .back::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: brightness(30%);
    background-size: cover;
    background-position: center;
}

.box_office_card .back .score {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

.box_office_card .back .score span {
    margin-left: 16px;
    font-size: 1.5rem;
    color: #59bec9;
}

.box_office_card .inner:hover .front {
    transform: rotateY(180deg);
}

.box_office_card .inner:hover .back {
    transform: rotateY(360deg);
}